/* Place CSS rule to stylize odd numbered elements */
.odd {
    background-color: rgb(214, 120, 120);
    font: "Verdana", "DejaVu Sans", sans-serif;
}

/* Place CSS rule to stylize the second element different to all other elements */
#second {
    color: rgb(7, 7, 255);
    font-size: 36px;
}

/* Add extra CSS rule to stylize the third element, having same style for all other odd numbered elements */
.odd.third {
    font-size: 24px;
}

/* Place CSS rule to stylize the fourth element different to all other elements*/